[Unit]
Description=colorbars
  
[Service]
ExecStart=/usr/bin/colorbars -r 1280x720
StandardOutput=journal+console
  
[Install]
WantedBy=multi-user.target

